
<div class="tab">
    <div 
        class="tab-name" 
        ng-repeat="wellSpec in self.wellSpecs" 
        ng-class="{active: tabIndex === $index}" 
        ng-click="self.activateTab($index)">
        tab {{$index}}
    </div>
</div>
<div ng-show="tabIndex === $index" 
    class="main" 
    ng-repeat="wellSpec in self.wellSpecs">
    <multi-well-histogram
            well-spec="wellSpec" 
            zoneset-name="self.zoneNames[$index]" 
            selection-type="self.selectionTypes[$index]" 
            selection-value="self.selectionValues[$index]" 
            config="self.configs[$index]" 
            silent="self.silent">
    </multi-well-histogram>
</div>