<div class="main">
    <wi-droppable style="display:flex; width: 100%;;" on-drop="self.onDrop"
        container-style="{display:'flex',flex: 1, position: 'relative'}">
        <div class="main-body">
            <div class="label-list-view ng-scope"
                style="display :flex; background: #f4f4f4; padding: 12px 15px; justify-content: flex-start;">
                <!-- <span ng-click="self.save()" style="background: #fff;
                padding: 3px 17px;
                border-radius: 2px;
                border: 1px solid #e4e4e4;">Save</span> -->
                <span ng-click="self.refresh()" class="reload-16x16"
                    style="cursor: pointer; margin-right: 10px;"></span>
                <span ng-click="self.save()" class="save-16x16" style="cursor: pointer; margin-right: 10px;"></span>
                <!-- <span ng-click="" class="save-as-16x16" style="cursor: pointer; margin-right: 10px;"></span> -->
            </div>

            <!-- <div style="display: flex; padding: 0 16px 7px 16px;">
				<span ng-click="self.save()" class="button-with-label-layer"
					style="margin-left: 0; flex: 0">Save</span>
			</div> -->
            <div class="main-body-center border-style" style="position: relative;">
                <layer-collection v-padding="50" h-padding='60'>
                    <axis-layer min-val="self.getLeft()" max-val="self.getRight()" loga="self.getLoga()"
                        n-ticks="self.config.majorTicks || 10" minor-ticks="self.config.minorTicks || 1" precision="4"
                        grid="!!self.config.grid" placement="1">
                    </axis-layer>
                    <axis-layer min-val='self.minY || 0' max-val='self.maxY || 100' n-ticks="10" minor-ticks="1"
                        precision="4" grid="!!self.config.grid" axis-direction="'up'" placement="0"></axis-layer>
                    <axis-layer min-val="0" max-val="100" n-ticks="10" minor-ticks="1" precision="4"
                        grid="!!self.config.grid" axis-direction="'up'" placement="1"></axis-layer>
                    <canvas-barchart-layer ng-show="!bins._notUsed"
                        ng-if="self.getDisplayMode() == 'bar' && self.getStackMode() == 'none'"
                        ng-repeat="bins in self.histogramList" min-val="self.getLeft()" max-val="self.getRight()"
                        min-y='self.minY || 0' max-y='self.maxY || 100' loga="self.getLoga()" autofit='false'
                        bins="bins" bin-gap="self.getBinGap()" color-func="self.colorFn">
                    </canvas-barchart-layer>
                    <canvas-barchart-layer ng-show="!groupOfBins._notUsed" ng-if="self.getDisplayMode() == 'bar' && 
                        self.getStackMode() == 'well'" ng-repeat="groupOfBins in self.histogramList"
                        min-val="self.getLeft()" max-val="self.getRight()" min-y='self.minY || 0'
                        max-y='self.maxY || 100' loga="self.getLoga()" autofit='false' bins="groupOfBins"
                        bin-gap="self.getBinGap()" color-func="self.colorFn" multiple='true'>
                    </canvas-barchart-layer>
                    <canvas-barchart-layer ng-show="!self.histogramList._notUsed" ng-if="self.getDisplayMode() == 'bar' && 
                        self.getStackMode() == 'all'" min-val="self.getLeft()" max-val="self.getRight()"
                        min-y='self.minY || 0' max-y='self.maxY || 100' loga="self.getLoga()" autofit='false'
                        bins="self.histogramList" bin-gap="self.getBinGap()" color-func="self.colorFn" multiple='true'>
                    </canvas-barchart-layer>
                    <line-point-layer ng-if="self.getDisplayMode() === 'line' && !bins._notUsed"
                        ng-repeat="bins in self.histogramList" min-val="self.getLeft()" max-val="self.getRight()"
                        min-y='self.minY || 0' max-y='self.maxY || 100' loga="self.getLoga()" autofit='false'
                        get-x='self.getBinX' get-y='self.getBinY' line-data="bins" line-color="bins.color"
                        line-width='2' line-dash="'2 0'" color-func="self.colorFn">
                    </line-point-layer>
                </layer-collection>
                <p style="position: absolute;left: 50%; transform: translateX(-50%); bottom: 0">
                    {{self.getConfigXLabel()}} </p>
                <p
                    style="position: absolute; top: 23px; right: 45%;text-transform: uppercase; font-weight: bold; transform: translateY(-50%);">
                    {{self.getConfigTitle()}}</p>
                <p style="position: absolute;top: 23px;left: 15px; transform: translateY(-50%);">Frequency</p>
                <p style="position: absolute;top: 23px; right: 15px;transform: translateY(-50%);">Percentage (%)</p>
            </div>
            <div class="statistic-table">
                <!-- <div style="font-size: 12px; display: flex; margin-bottom: 10px;">Statistics
                    <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                    </div>
                </div> -->
                <!-- <div style="display: flex; flex-wrap: wrap;">
                    <span ng-repeat="header in self.statisticHeaders track by $index" class="select-table-header"
                        ng-class="{'active' : self.statisticHeaderMasks[$index]}"
                        ng-click="self.statisticHeaderMasks[$index]= !self.statisticHeaderMasks[$index]">
                        {{header}}</span>
                </div> -->

                <div style="overflow: auto; position: absolute;">
                    <wi-table-view ng-if="self.histogramList.length" row-count="self.getZoneNames().length"
                        col-count="self.getHeaders().length" col-headers="self.getHeaders()"
                        get-row-icons="self.getStatsRowIcons" get-row-icon-style="self.getStatsIconStyle"
                        row-headers="self.getZoneNames()" accessor="self.statsValue">
                    </wi-table-view>
                </div>
            </div>
        </div>
        <div style=" height: 100%; right: 0; border-left: 1px solid #eee; box-shadow: 0 0 20px #0000001c;">
            <side-bar my-default-width="350" orientation="w" collapsed="false">
                <div class="label-list-view" style="border-bottom: 2px solid #f0f0f0;
                    display :flex;
                    justify-content: space-between;
                    padding: 0px 15px;">
                    <span ng-class="{'active' : isSet(1)}" ng-click="setTab(1)" class="tab-with-label"
                        style="margin-right: 8px;">Wells</span>
                    <span ng-class="{'active' : isSet(2)}" ng-click="setTab(2)" class="tab-with-label"
                        style="margin-right: 8px;">Zone</span>
                    <span ng-class="{'active' : isSet(3)}" ng-click="setTab(3)" class="tab-with-label"
                        style="margin-right: 8px;">Config</span>
                    <span ng-class="{'active' : isSet(4)}" ng-click="setTab(4)" class="tab-with-label"
                        style="margin-right: 8px;">Stats</span>
                    <span ng-class="{'active' : isSet(5)}" ng-click="setTab(5)" class="tab-with-label">Layers</span>
                </div>
                <div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
                    <div ng-show="isSet(1)" style="overflow: auto;flex: 1;display:flex;flex-direction:column;">
                        <div class="label-option-sidebar"
                            style="margin-top: 10px; display: flex; justify-content: space-between;">
                            <span>INPUT</span>
                            <div>
                                <span ng-class="{'active' : self.selectionType === 'family-group'}"
                                    ng-click="self.selectionType='family-group'" class="button-with-label"
                                    style="margin-right: 8px;">family-group</span>
                                <span ng-class="{'active' : self.selectionType === 'family'}"
                                    ng-click="self.selectionType='family'" class="button-with-label"
                                    style="margin-right: 8px;">family</span>
                                <span ng-class="{'active' : self.selectionType === 'curve'}"
                                    ng-click="self.selectionType='curve'" class="button-with-label">curve</span>
                            </div>

                        </div>
                        <div class="label-option-sidebar">
                            <div class="selection-sidebar">
                                <span>X-Axis</span>
                                <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.selectionList'
                                    current-select="self.selectionValue" on-item-changed="self.onInputSelectionChanged">
                                </wi-dropdown-list>
                            </div>
                        </div>
                        <div style="overflow: auto; display:flex; flex-direction: column;">
                            <div style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;"
                                ng-repeat='well in self.treeConfig'>
                                <div
                                    style="border-bottom: 1px solid #e4e4e4;display: flex; flex-direction: row;padding: 8px 15px;background: #f4f4f4; align-items: center;justify-content: space-between;text-align: center;">

                                    <div style="display: flex; align-items: center;">

                                        <i class="header-icon"
                                            ng-class="{'fa fa-caret-down': !well._hidden, 'fa fa-caret-right': well._hidden}"
                                            ng-click="well._hidden = !well._hidden"></i>
                                        <div ng-bind="well.name"> </div>

                                    </div>

                                    <div style="display: flex; align-items: center;">
                                        <div style="border-radius: 2px;padding: 1px 10px;  margin-right: 10px;"
                                            ng-bind="self.getWellSpec(well).datasetName"></div>
                                        <div style="border-radius: 2px;padding: 1px 10px;"
                                            ng-bind="self.getCurve(well).name"></div>
                                        <span
                                            ng-class="{'red-color fa fa-eye-slash': well._notUsed, 'blue-color fa fa-eye': !well._notUsed }"
                                            ng-click="self.toggleWell(well)"
                                            style="cursor: pointer; margin-right: 10px;">
                                        </span>
                                        <span class="fa fa-times-circle" ng-click="self.removeWell(well)"
                                            style="color: rgb(163, 163, 163);cursor: pointer;">
                                        </span>
                                    </div>

                                </div>
                                <wi-tree-view ng-hide="well._hidden" tree-root="well" get-label="self.getLabel"
                                    filter="self.selectionValue" get-icon="self.getIcon" get-children="self.getChildren"
                                    keep-children='true' uncollapsible='true' run-match="self.runMatch"
                                    hide-unmatched="true" hide-search='true' click-fn='self.clickFunction'>
                                </wi-tree-view>
                            </div>
                        </div>

                    </div>
                    <div ng-show="isSet(2)" style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                        <div class="label-option-sidebar">
                            <div class="selection-sidebar">
                                <span>Zoneset</span>
                                <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.zonesetList'
                                    current-select="self.zonesetName" on-item-changed="self.onZonesetSelectionChanged">
                                </wi-dropdown-list>
                            </div>
                        </div>
                        <div style="display: flex; padding: 0 16px 7px 16px;">
                            <span ng-click="self.hideSelectedZone()" class="button-with-label-layer"
                                style="margin-left: 0;">Hide</span>
                            <span ng-click="self.showSelectedZone()" class="button-with-label-layer"
                                style="margin-left: 10px;">Show</span>
                            <span ng-click="self.hideAllZone()" class="button-with-label-layer"
                                style="margin-left: 10px;">Hide All</span>
                            <span ng-click="self.showAllZone()" class="button-with-label-layer"
                                style="margin-left: 10px;">Show All</span>
                        </div>
                        <div ng-show="self.zoneTree"
                            style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto; ">
                            <wi-tree-view tree-root="self.zoneTree" get-label="self.getZoneLabel"
                                filter="self.zoneFilter" get-icon="self.getZoneIcon" get-children="self.noChildren"
                                keep-children='true' run-match="self.runZoneMatch" hide-unmatched="true"
                                hide-search='false' click-fn='self.click2ToggleZone'>
                            </wi-tree-view>
                        </div>
                        <div ng-hide="self.zoneTree" style="border: 1px solid #e4e4e4; margin: 5px 15px;">
                            zonationAll
                        </div>

                    </div>
                    <div ng-show="isSet(3)" style="
                overflow: hidden;
                flex: 1;
                display: flex;
                flex-direction: column;">
                        <div class="label-option-sidebar" style="margin-top: 10px;">
                            <span>OPTIONS</span>
                        </div>
                        <div style="overflow: auto;">
                            <div class="label-option-sidebar">
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Left'" item-value="self.getConfigLeft"
                                        set-value="self.setConfigLeft" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Right'" item-value="self.getConfigRight"
                                        set-value="self.setConfigRight" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>

                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Divisions'" item-value="self.getConfigDivisions"
                                        set-value="self.setConfigDivisions" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>

                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Title'" item-value="self.getConfigTitle"
                                        set-value="self.setConfigTitle" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>

                                </div>
                                <div style="margin-bottom: 15px; "></div>

                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'X Label'" item-value="self.getConfigXLabel"
                                        set-value="self.setConfigXLabel" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                            </div>
                            <div class="label-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;   flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Scale and Grid
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.config.loga}"
                                        ng-click="self.config.loga = !self.config.loga" class="button-with-label"
                                        style="margin-right: 8px;">Log Scale</span>
                                    <span ng-class="{'active' : self.config.grid}"
                                        ng-click="self.config.grid = !self.config.grid" class="button-with-label"
                                        style="margin-right: 8px;">Show Grid</span>
                                    <span ng-class="{'active' : self.config.flipHorizontal}"
                                        ng-click="self.config.flipHorizontal = !self.config.flipHorizontal"
                                        class="button-with-label">Flip-H</span>
                                </div>
                            </div>
                            <div class="label-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between; flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Display Mode
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>

                                <div>
                                    <span ng-class="{'active' : self.config.displayMode === 'bar'}"
                                        ng-click="self.config.displayMode='bar'" class="button-with-label"
                                        style="margin-right: 8px;"> Bar Mode</span>
                                    <span ng-class="{'active' : self.config.displayMode === 'line'}"
                                        ng-click="self.config.displayMode='line'" class="button-with-label">Line
                                        Mode</span>
                                </div>

                            </div>
                            <div class="label-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between; flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Assistive Lines
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.config.showCumulative}"
                                        ng-click="self.config.showCumulative = !self.config.showCumulative"
                                        class="button-with-label" style="margin-right: 8px;"> Show Cumulative</span>
                                    <span ng-class="{'active' : self.config.showGaussian}"
                                        ng-click="self.config.showGaussian = !self.config.showGaussian"
                                        class="button-with-label" style="margin-right: 8px;"> Show Gaussian</span>
                                </div>
                            </div>
                            <div class="label-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Color Mode
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.config.colorMode === 'zone'}"
                                        ng-click="self.config.colorMode='zone'" class="button-with-label"
                                        style="margin-right: 8px;"> Zone Color</span>
                                    <span ng-class="{'active' : self.config.colorMode === 'well'}"
                                        style="margin-right: 8px;" ng-click="self.config.colorMode='well'"
                                        class="button-with-label">Well Color</span>
                                    <span ng-class="{'active' : self.config.colorMode === 'user'}"
                                        ng-click="self.config.colorMode='user'" class="button-with-label">User
                                        Defined</span>
                                </div>
                            </div>
                            <div class="label-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between; flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Stack Mode
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.config.stackMode === 'none'}"
                                        ng-click="self.config.stackMode='none'" class="button-with-label"
                                        style="margin-right: 8px;">No Stack</span>
                                    <span ng-class="{'active' : self.config.stackMode === 'well'}"
                                        style="margin-right: 8px;" ng-click="self.config.stackMode='well'"
                                        class="button-with-label">Well</span>
                                    <span ng-class="{'active' : self.config.stackMode === 'all'}"
                                        ng-click="self.config.stackMode='all'" class="button-with-label">All</span>
                                </div>
                            </div>
                            <div class="label-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Histogram Mode
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.selectConfig === 'option1'}"
                                        ng-click="self.selectConfig='option1'" class="button-with-label"
                                        style="margin-right: 8px;"> Frequency count</span>
                                    <span ng-class="{'active' : self.selectConfig === 'option2'}"
                                        ng-click="self.selectConfig='option2'"
                                        class="button-with-label">Percentile</span>
                                </div>

                            </div>
                            <div class="label-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Depth Limitation Mode
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <div ng-show="self.config.limitType === 'interval'">
                                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                                item-label="'Top'" item-value="self.getConfigLimitTop"
                                                set-value="self.setConfigLimitTop" enabled="true" label-style="{}"
                                                content-style="{flex:1,float:'none','text-align':'right'}">
                                            </editable>
                                        </div>
                                        <div style="margin-bottom: 15px; "></div>
                                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                                item-label="'Bottom'" item-value="self.getConfigLimitBottom"
                                                set-value="self.setConfigLimitBottom" enabled="true" label-style="{}"
                                                content-style="{flex:1,float:'none','text-align':'right'}">
                                            </editable>
                                        </div>
                                        <div style="margin-bottom: 15px; "></div>
                                    </div>
                                    <span ng-class="{'active' : self.config.limitType === 'interval'}"
                                        ng-click="self. config.limitType = 'interval'" class="button-with-label"
                                        style="margin-right: 8px;"> Interval Depth</span>
                                    <span ng-class="{'active' : self.config.limitType === 'zonal'}"
                                        ng-click="self.config.limitType = 'zonal'" class="button-with-label">Zonal
                                        Depth</span>
                                    <div style="margin-bottom: 15px; "></div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isSet(4)" onmouseover="this.style.overflow='overlay'"
                        onmouseout="this.style.overflow='hidden'" style="flex:1; padding: 15px;">
                        <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Table Header
                            <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                            </div>
                        </div>
                        <div style="display: flex; flex-wrap: wrap;">
                            <span ng-repeat="header in self.statisticHeaders track by $index"
                                class="select-table-header" ng-class="{'active' : self.statisticHeaderMasks[$index]}"
                                ng-click="self.statisticHeaderMasks[$index]= !self.statisticHeaderMasks[$index]">
                                {{header}}</span>
                        </div>
                        <!-- 
                <div style="overflow: auto;">
                    <wi-table-view ng-if="self.histogramList.length" row-count="self.getZoneNames().length"
                        col-count="self.getHeaders().length" col-headers="self.getHeaders()"
                        row-headers="self.getZoneNames()" accessor="self.statsValue">
                    </wi-table-view>
                </div> -->
                    </div>
                    <div ng-show="isSet(5)" style="overflow: auto; flex: 1; display: flex; flex-direction: column;">
                        <div style="display: flex; padding: 16px 16px 0px 16px;">
                            <span ng-click="self.hideSelectedLayer()" class="button-with-label-layer"
                                style="margin-left: 0px;">Hide</span>
                            <span ng-click="self.showSelectedLayer()" class="button-with-label-layer"
                                style="margin-left: 10px;">Show</span>
                            <span ng-click="self.hideAllLayer()" class="button-with-label-layer"
                                style="margin-left: 10px;">Hide All</span>
                            <span ng-click="self.showAllLayer()" class="button-with-label-layer"
                                style="margin-left: 10px;">Show All</span>
                        </div>
                        <div ng-show="self.histogramList"
                            style="border: 1px solid #eee; margin: 15px 15px 5px 15px; overflow: hidden;">
                            <wi-tree-view tree-root="self.getLayerTree()" get-label="self.getLayerLabel"
                                filter="self.layerFilter" get-icon="self.getLayerIcon" get-icons="self.getLayerIcons"
                                get-children="self.noChildren" icon-style="self.getLayerIconStyle" keep-children='true'
                                run-match="self.runLayerMatch" hide-unmatched="true" hide-search='false'
                                click-fn='self.click2ToggleLayer'>
                            </wi-tree-view>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <span class="button-update" ng-click="self.genHistogramList()">
                            Update
                        </span>
                    </div>
                </div>


            </side-bar>
        </div>
    </wi-droppable>
</div>