<div class="main">
    <div class="main-body">
        <div class="main-body-center border-style" style="position: relative;">
            <div class="label-list-view" style="border-bottom: 1px solid #f0f0f0;">
                <span>WELL LIST</span>
            </div>
            <wi-droppable style="display:flex;flex:1;" on-drop="self.onDrop" container-style="{display:'flex',flex: 1, position: 'relative'}">
                <layer-collection padding="50">
                    <axis-layer min-val="0" max-val="100" 
                                n-ticks="2" minor-ticks="10" 
                                precision="4" grid="true" loga="true"
                                placement="1"></axis-layer>
                    <axis-layer min-val="0" max-val="10" 
                                n-ticks="10" minor-ticks="10" 
                                precision="4" grid="1"
                                axis-direction="'up'"
                                placement="0"></axis-layer>
                    <axis-layer min-val="0" max-val="100" 
                                n-ticks="10" minor-ticks="10" 
                                precision="4" grid="1"
                                axis-direction="'up'"
                                placement="1"></axis-layer>
                </layer-collection>
                <p style="position: absolute;left: 50%; transform: translateX(-50%); bottom: 0">{{self.filter}}</p>
                <p style="position: absolute; left: 0; top: 50%; transform: translateY(-50%) rotate(-90deg); transform-origin: bottom;">Frequence</p>
                <p style="position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotate(90deg); transform-origin: bottom;">Percentage (%)</p>
            </wi-droppable>
            <div style="position: absolute; height: 100%; right: 0; border-left: 1px solid #eee;">
                <side-bar my-default-width="350" orientation="w" collapsed="false">

                    <div class="label-list-view" style="border-bottom: 1px solid #f0f0f0;
                        display :flex;
                        justify-content: space-between;
                        padding: 8px 15px;">
                        <span ng-class="{'active' : self.selectionTab === 'Wells'}"
                            ng-click="setTab(1); self.selectionTab='Wells'" class="tab-with-lable"
                            style="margin-right: 8px;">Wells</span>
                        <span ng-class="{'active' : self.selectionTab === 'Zone'}"
                            ng-click="setTab(2); self.selectionTab='Zone'" class="tab-with-lable"
                            style="margin-right: 8px;">Zone</span>
                        <span ng-class="{'active' : self.selectionTab === 'Config'}"
                            ng-click="setTab(3); self.selectionTab='Config'" class="tab-with-lable"
                            style="margin-right: 8px;">Config</span>
                        <span ng-class="{'active' : self.selectionTab === 'Statistics'}"
                            ng-click="setTab(4); self.selectionTab='Statistics'"
                            class="tab-with-lable">Statistics</span>
                    </div>

                    <div ng-show="isSet(1)" style="overflow: auto;">
                        <div class="lable-option-sidebar"
                            style="padding: 25px 16px; display: flex; justify-content: space-between;">
                            <span>INPUT</span>
                            <div>
                                <span ng-class="{'active' : self.selectionType === 'family-group'}"
                                    ng-click="self.selectionType='family-group'" class="button-with-lable"
                                    style="margin-right: 8px;">family-group</span>
                                <span ng-class="{'active' : self.selectionType === 'family'}"
                                    ng-click="self.selectionType='family'" class="button-with-lable"
                                    style="margin-right: 8px;">family</span>
                                <span ng-class="{'active' : self.selectionType === 'Curve'}"
                                    ng-click="self.selectionType='Curve'" class="button-with-lable"
                                    style="margin-right: 8px;">Curve</span>
                            </div>

                        </div>
                        <div class="lable-option-sidebar">
                            <div class="selection-sidebar">
                                <span>X-Axis</span>
                                <input ng-model="self.filter" class="input-suggestions" placeholder="Select well..."
                                    list="suggestions">
                                <datalist id="suggestions">
                                    <option ng-repeat="item in self.selectionList"
                                        value="{{item}}">
                                    </option>
                                </datalist>
                            </div>
                        </div>
                        <div style="border: 1px solid #eee; margin: 5px 15px;">
                            <wi-tree-view tree-root="self.treeConfig" get-label="self.getLabel" filter="self.filter"
                                get-icon="self.getIcon" get-children="self.getChildren" keep-children='true'
                                uncollapsible='true' run-match="self.runMatch" hide-unmatched="false" hide-search='true'
                                click-fn='self.clickFunction'>

                            </wi-tree-view>
                        </div>

                    </div>
                    <div ng-show="isSet(2)" style="overflow: auto;">
                        <div class="lable-option-sidebar">
                            <span>INPUT</span>
                        </div>
                        <div style="border: 1px solid #eee; margin: 5px 15px;">
                            <wi-tree-view tree-root="self.treeConfig" get-label="self.getLabel" filter="self.filter"
                                get-icon="self.getIcon" get-children="self.getChildren" keep-children='true'
                                uncollapsible='true' run-match="self.runMatch" hide-unmatched="false" hide-search='true'
                                click-fn='self.clickFunction'>

                            </wi-tree-view>
                        </div>

                    </div>
                    <div ng-show="isSet(3)" style="overflow: hidden;">
                        <div class="lable-option-sidebar">
                            <span>LABLE</span>
                        </div>
                        <div class="lable-option-sidebar">
                            <div class="selection-sidebar">
                                <span>Left</span>
                                <input type="number" step="0.01" ng-model="self.filter" class="input-suggestions"
                                    placeholder="0.001">
                            </div>
                            <div style="margin-bottom: 15px; "></div>
                            <div class="selection-sidebar">
                                <span>Right</span>
                                <input type="number" step="0.01" ng-model="self.filter" class="input-suggestions"
                                    placeholder="0.001">
                            </div>
                            <div style="margin-bottom: 15px; "></div>

                            <div class="selection-sidebar">
                                <span>Divisions</span>
                                <input type="number" step="0.01" ng-model="self.filter" class="input-suggestions"
                                    placeholder="0.001">
                            </div>
                            <div style="margin-bottom: 15px; "></div>

                            <div class="selection-sidebar">
                                <span>Histogram Title</span>
                                <input step="0.01" ng-model="self.filter" class="input-suggestions" placeholder="">

                            </div>
                            <div style="margin-bottom: 15px; "></div>

                            <div class="selection-sidebar">
                                <span>X Lable</span>
                                <input step="0.01" ng-model="self.filter" class="input-suggestions" placeholder="">

                            </div>
                        </div>
                    </div>
                    <div ng-show="isSet(4)" style="overflow: hidden;">
                        <div onmouseover="this.style.overflow='overlay'" onmouseout="this.style.overflow='hidden'">
                            <div style="padding: 0 7px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Savings</th>
                                        </tr>
                                    </thead>
                                    <tbody style="overflow: auto;">
                                        <tr>
                                            <td>Peter</td>
                                            <td>Griffin</td>
                                            <td>$100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </side-bar>
            </div>
        </div>
    </div>
</div>